@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style type="text/css">
    form {
        padding-top: 10px;
    }

    button {
        border: 1px #CCC solid;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
    }
</style>

<div class="text-center">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Não foi possível criar o subdomínio.</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <button type="submit">Voltar</button>
    </form>

</div>